<!DOCTYPE html>
<html ng-app="Champion">
<head>
  <title>BaronUp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script type="text/javascript">
    $(document).on("ready page:change", function() {
      $("[data-toggle='tooltip']").tooltip();
    });
  </script>
</head>
<body>
<div class="container">
<%= yield %>
</div>
</body>
</html>
