<!DOCTYPE html>
<html lang="en" ng-app="Champion">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BaronUp</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <%=render :partial => "layouts/navbar"%>
    <div class="container-fluid" ng-controller="ChampionCtrl" ng-cloak><%= yield %></div>
  </body>
</html>